body{
   background-color: rgb(72, 72, 72);
    text-align: center;
    color: rgb(255, 255, 255);
}
.cabeçalho{
     background:url(imagens/textura.png) center  center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-width: 0.7px;
    border-style: solid;
    border-color: #000;
    border-radius: 5px;
    height: auto;
}
.voltar{
      height: 35px;
      margin-right: 5%;
      margin-top: 10px;
  }
  .brasil{
      height: 30px;
      margin-left: 80%;
      margin-top: 10px;
  }
.logo{
    margin-top: 0px;
    position: relative;
    height: 200px;
}
.imagem{
    position: relative;
    height: 40px;
}
.slogan{
    position: relative;
    height: 70px;
}
.icon{
    position: relative;
    height: 25px;
}
.rodape{
    background:url(imagens/textura.png) center  center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-width: 0.7px;
    border-style: solid;
    border-color: #000;
    border-radius: 5px;
    height: auto;
    border-radius: 5px;
    border-width: 0.7px;
    border-style: solid;
    border-color: #000;
    height: auto;
}
.mensagem{
    height: 100px;
    width: 190px;
}
.bt{
    text-align: center;
    color: black;
}
.cooperacao1{
    position: relative;
    margin: 10px;
    color: white;
}
.cooperacao2{
    position: relative;
    margin: 10px;
    color: white;
}
.cooperacao3{
    position: relative;
    margin: 10px;
    color: white;
}
small{
   color: rgb(255, 255, 255);
}
.letras{
    color: white;
}
