*{
    text-align: center;
    color: white;
}
body{
    background-color: black;
}
.logo{
    position: relative;
    height: 200px;
    margin-top: 5%;
    margin-left: 0%;
}
.imagem{
    position: relative;
    margin: 20px;
    height: 25px;
}
.slogan{
    position: relative;
    height: 65px;
}
.referencia{
    position: relative;
    height: 50px;
}
.rodape{
        background-color: rgb(218, 241, 236);
        border-radius: 5px;
        border-width: 0.7px;
        border-style: solid;
        border-color: #000;
        height: auto;
}
